@import './global.scss';

.NotFound{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    &__base{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__text{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: center;
        @include titlePrincipal;

    }

}